.main {
  display: flex;
  max-width: 95vw;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-direction:row;
  transition: all .3s;
  @media screen and (max-width: 650px) {
    flex-direction: column-reverse;
  }
  .about{
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:15px;
    @media screen and (max-width: 650px) {
      width: 100%;
    }
    @media screen and (max-width: 420px) {
      width: 85%;
    }
  }
  .photo {
    border: 1px solid white;
    background-color: #a13e3e40;
    border-radius: 15px;
    overflow: hidden;
    width: 30%;
    align-self: flex-start;
    @media screen and (max-width: 650px) {
      margin: 0 auto;
    }
    &-img{
        width: 100%;
        transition: .5s;
        transform: scale(1.05);
        &:hover{
            transform: scale(1.3);
        }
    }
  }
}
